<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Packages Autorisés RQ" value="\\fic1\app\Commun\PosteDev\Nuget" />
    <add key="PackagesRQ" value="https://pkgs.dev.azure.com/ExperimentationRQ/_packaging/PackagesRQ/nuget/v3/index.json" />
  </packageSources>
<packageSourceCredentials>
  <PackagesRQ>
    <add key="Username" value="User" />
      <add key="ClearTextPassword" value="%SYSTEM_ACCESSTOKEN%" />
  </PackagesRQ>
</packageSourceCredentials>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <packageManagement>
    <add key="format" value="0" />
    <add key="disabled" value="False" />
  </packageManagement>
</configuration>